*.o
*.a
*.dSYM
hello_mpi
hello_mpi_2
hello_mpi_3
hello_mpi_4
message_mpi
message_mpi_2
test_integrate

.deps
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
stamp-h1
test-driver
*.log
*.trs
*~
*.asc
